<footer>
  <div class="container ">
    <div class="row py-5">
      <div class="col-md-6">
        <div class="menu-bottom-left d-inline-flex flex-row">
          <a href="#" class="px-2">Home</a>|
          <a href="#" class="px-2">Services</a>|
          <a href="#" class="px-2">Portfolio</a>|
          <a href="#" class="px-2">Contact</a>|
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-row justify-content-end">
          Copyright © 2014
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="./js/products-main.js"></script>