<header>
  <div class="container-fluid w-100 px-0 py-3 fixed-top ">
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="navbar-brand" href="#"><img src="../img/logo.png" alt=""></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"><svg
            xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 64 64">
            <title>menu-7</title>
            <g>
              <path fill="#4bcaff"
                d="M35.91 34.58h-31.92a1.33 1.33 0 0 1-1.33-1.33v-2.66a1.33 1.33 0 0 1 1.33-1.33h31.92a1.33 1.33 0 0 1 1.33 1.33v2.66a1.33 1.33 0 0 1-1.33 1.33z">
              </path>
              <path fill="#4bcaff"
                d="M59.85 15.96h-55.86a1.33 1.33 0 0 1-1.33-1.33v-2.66a1.33 1.33 0 0 1 1.33-1.33h55.86a1.33 1.33 0 0 1 1.33 1.33v2.66a1.33 1.33 0 0 1-1.33 1.33z">
              </path>
              <path fill="#4bcaff"
                d="M59.85 53.2h-55.86a1.33 1.33 0 0 1-1.33-1.33v-2.66a1.33 1.33 0 0 1 1.33-1.33h55.86a1.33 1.33 0 0 1 1.33 1.33v2.66a1.33 1.33 0 0 1-1.33 1.33z">
              </path>
            </g>
          </svg></button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavId">
          <ul class="navbar-nav mr-left mt-2 mt-lg-0 ">
            <li class="nav-item px-2 border border-white mx-2 active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item px-2 mx-2">
              <a class="nav-link" href="./products">Products</a>
            </li>
            <li class="nav-item px-2 mx-2">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item px-2 mx-2">
              <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item px-2 mx-2">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>

        </div>
      </nav>
    </div>

  </div>

</header>