<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style-product-page.css">

</head>

<body>
  <header>
      
    <div class="container-fluid  ">
      <div class="container ">
        <div class="row ">
          <div class="col-md-12 px-0">
            <nav class="navbar navbar-expand-lg ">
              <a class="navbar-brand" href="#"><img src="./images/logo-leflair.png" class="w-50" alt=""></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse  " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto align-items-center">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Vn
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Tiếng Việt</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">English</a>


                    </div>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Đăng nhập <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Tạo tài khoản</a>
                  </li>

                  <li class="nav-item">
                    <button type="button" data-toggle="modal" data-target="#cart" name="" id=""
                      class="btn btn-lg btn-block"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                        viewBox="0 0 32 32">
                        <title>bag-20</title>
                        <g stroke-width="2" fill="#000000">
                          <path fill="none" stroke="#000000" stroke-linecap="square" stroke-miterlimit="10"
                            stroke-linejoin="miter" d="M27.47 30.82h-22.78v-22.78h22.78z"></path>
                          <path fill="none" stroke="#000000" stroke-linecap="square" stroke-miterlimit="10"
                            d="M10.72 12.06v-5.36c0-2.95 2.41-5.36 5.36-5.36s5.36 2.41 5.36 5.36v5.36"
                            stroke-linejoin="miter"></path>
                        </g>
                      </svg></button>
                  </li>
                  <div class="modal right fade" id="cart" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Giỏ hàng <span>(0 Sản Phẩm)</span></h5>
                          <img src="./images/cart-modal-image.jpg" alt="">
                          <span>Giỏ hàng của bạn còn trống</span>
                          <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Tiếp tục mua
                            sắm</button>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Tempor sit nemo corporis, non sociosqu voluptatibus quisque, asperiores euismod qui enim.
                          Excepteur sem fusce lacinia, eligendi eos maecenas optio aliquip mattis, condimentum duis
                          ipsum taciti metus, semper? Tempor adipisicing, laborum risus venenatis, auctor aptent hic.
                          Laoreet, rhoncus, sequi lectus. Pulvinar perspiciatis tempus ab elementum dis leo molestiae
                          magna purus proin vero, id dui sequi, tortor? Fugit aptent, reprehenderit quos! Doloremque
                          perferendis montes. Proin? Class lacus? Voluptate blandit habitasse cupidatat, suscipit
                          repellendus? Sagittis consequuntur minim risus? Nostrum cumque veniam eiusmod justo, expedita
                          venenatis asperiores ipsam autem felis quasi sed senectus, occaecati nostrud repudiandae nam
                          quod consequatur. Voluptates hic, ridiculus, varius? Iaculis incidunt mus fuga, consequat!
                          Dictumst pariatur exercitation! Minim cupiditate adipisci dui! Mauris dolorem? Eos iure
                          eligendi, erat in, nam. Aenean nostrud senectus, illo? Convallis debitis, euismod, aut!
                          Senectus vel. Incididunt quidem! Occaecat consequatur quam conubia pretium corporis sapien
                          aspernatur anim? Odio pellentesque ante. Ut ex, nam eiusmod! Odio tempora.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </ul>

              </div>
            </nav>
          </div>
        </div>
        <div class="d-flex justify-content-center text-center py-3 border-bottom">
          <div class="px-3 mx-0">Thời trang</div>
          <div class="px-3 mx-0">Túi xách & Giày dép</div>
          <div class="px-3 mx-0">Phụ kiện</div>
          <div class="px-3 mx-0">Sức khỏe & Làm đẹp</div>
          <div class="px-3 mx-0">Nhà cửa & Đời sống</div>
          <div class="px-3 mx-0">Hàng nhập khẩu<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              viewBox="0 0 16 16">
              <title>star-rate</title>
              <g fill="#ff6c01">
                <path
                  d="M15.18 5.94h-5.22l-1.73-5.38a0.33 0.33 0 0 0-0.62 0l-1.73 5.38h-5.22a0.33 0.33 0 0 0-0.2 0.59l4.16 3.22-1.73 5.33a0.33 0.33 0 0 0 0.51 0.37l4.52-3.29 4.52 3.29a0.33 0.33 0 0 0 0.51-0.37l-1.73-5.33 4.16-3.22a0.33 0.33 0 0 0-0.2-0.59z"
                  fill="#ff6c01"></path>
              </g>
            </svg></div>
        </div>

      </div>
    </div>

    </div>
  </header>
  <main>
    <div class="container ">
        <div class=" d-flex justify-content-between py-2 border-bottom">

            <div class="breadcrum nav">
              <div class="breadcrum-item nav-item">Trang chủ /</div>
              <div class="breadcrum-item nav-item"> Giảm Đến 60% - Cashew Thời Tra...</div>
            </div>
  
            <div class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>time</title><g fill="#606060"><path data-color="color-2"d="M7.92 3.63a0.33 0.33 0 0 0-0.33 0.33v3.96a0.33 0.33 0 0 0 0.33 0.33h3.96a0.33 0.33 0 0 0 0-0.66h-3.63v-3.63a0.33 0.33 0 0 0-0.33-0.33z"></path><path d="M13.05 2.79a7.26 7.26 0 0 0-12.39 5.13 0.33 0.33 0 0 0 0.66 0 6.62 6.62 0 1 1 2.48 5.15l1.28-1.46a0.33 0.33 0 0 0-0.21-0.55l-3.84-0.5a0.33 0.33 0 0 0-0.36 0.42l1.02 3.74a0.33 0.33 0 0 0 0.24 0.23 0.33 0.33 0 0 0 0.08 0.01 0.33 0.33 0 0 0 0.25-0.11l1.11-1.28a7.26 7.26 0 0 0 9.68-10.78z" fill="#606060"></path></g></svg>Còn 16 giờ</div>
        </div>
        <div class="d-flex justify-content-between py-3 border-bottom">
          <div class="left-side nav">
            <div class="filter-tool nav-item"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><title>setup-preferences</title><g fill="#373333"><path d="M2.01 6.7h3.35a0.67 0.67 0 0 0 0-1.34h-3.35a0.67 0.67 0 0 0 0 1.34z" fill="#373333"></path><path d="M11.39 10.05a4.02 4.02 0 0 0 3.96-3.35h14.8a0.67 0.67 0 0 0 0-1.34h-14.8a4.02 4.02 0 1 0-3.96 4.69z" fill="#373333"></path><path data-color="color-2" d="M30.15 15.41h-3.35a0.67 0.67 0 0 0 0 1.34h3.35a0.67 0.67 0 0 0 0-1.34z"></path><path data-color="color-2" d="M2.01 16.75h14.8a4.02 4.02 0 1 0 0-1.34h-14.8a0.67 0.67 0 0 0 0 1.34z"></path><path d="M5.36 25.46h-3.35a0.67 0.67 0 0 0 0 1.34h3.35a0.67 0.67 0 0 0 0-1.34z" fill="#373333"></path><path d="M30.15 25.46h-14.8a4.02 4.02 0 1 0 0 1.34h14.8a0.67 0.67 0 0 0 0-1.34z" fill="#373333"></path></g></svg></div>
            <div class="products-left nav-item">
                (98 sản phẩm)
                
            </div>
          </div>
          <div class="right-side">
              Sắp xếp: Gợi ý
          </div>
        </div>
        <div class="container ">
            <div class="row card-ajax ">
              <div class="col-md-4 my-3 px-2">
                  <div class="card border-0" style="">
                      <img class="card-img-top" src="./images/product-1-1.jpg" alt="Card image cap">
                      <div class="card-body mt-2 p-0">
                        <div class="product-brand">Cashew</div>
                        <h5 class="card-title product-tittle">Áp yếm cổ trụ</h5>
                        <div class="product-price-group nav align-items-center">
                          <div class="nav-item product-price mr-2">1.000.000<span>đ</span></div>
                          <div class="product-sale-price nav-item">780.000<span>đ</span></div>
                        </div>
                      </div>
                    </div>
              </div>
              
            </div>
            <div class="row " id="navigation-custom">
              <div class="col-md-12 text-center my-4">
                <nav aria-label="Page navigation mt-3">
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <div class="page-link" href="#">Previous</div>
                    </li>
    
                    <li class="page-item">
                      <div class="page-link" href="#">Next</div>
                    </li>
                  </ul>
                </nav>
                <a href="./products" type="button" name="" id="load-ajax" class="btn btn-primary my-2">Load ajax</a>
              </div>
            </div>
              
        </div>
    </div>
    

  </main>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="./javascripts/products-main.js"></script>
</body>

</html>